@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link href="~/css/index.css" rel="stylesheet" />
    <!-- 引入组件库 -->
    <script src="~/js/index.js"></script>
    <link href="~/css/Home.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <el-container>
            <el-header>
                <div class="demo-image__preview">
                    <el-image style="width: 60px; height: 50px;  margin-top:5px;border-radius: 30px" :src="url" :preview-src-list="srcList">
                    </el-image>
                </div>
            </el-header>
            <el-container>
                <el-aside width="200px">
                    <el-menu default-active="2"
                             class="el-menu-vertical-demo"
                             @@open="handleOpen"
                             @@close="handleClose"
                             background-color="#494e8f"
                             text-color="#fff"
                             active-text-color="#afb4db">
                        <el-submenu index="1">

                            <template slot="title">
                                <i class="el-icon-location"></i>
                                <span>导航一</span>
                            </template>

                            <el-menu-item-group>
                                <el-menu-item index="1-1">选项1</el-menu-item>
                            </el-menu-item-group>

                        </el-submenu>

                        <button style="background-color: #494e8f; color: white; font-size:12px;height:18px;line-height:18px;float:right;">Open/Close</button>

                </el-aside>
                <el-container>
                    <el-main>
                        <iframe src="~/Study/Studyknowledge" style="width:100%;height:95%; border:0px;"></iframe>
                    </el-main>
                    <el-footer>
                        <div id="copyright">
                            ©2021 QQ:31159950559 E-mail:FuGuangzhi1@outlook.com. GitHUb:FuGuangzhi 有问题可用以上方式留言
                        </div>
                    </el-footer>
                </el-container>
            </el-container>
        </el-container>

    </div>
    <script src="~/js/Home.js"></script>
</body>

</html>
