@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link href="~/css/index.css" rel="stylesheet" />
    <!-- 引入组件库 -->
    <script src="~/js/index.js"></script>
    <link href="~/css/Home.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <el-container>
            @* 头部 *@
            <el-header>
                <div class="demo-image__preview">
                    <el-image style="width: 60px; height: 50px;  margin-top:5px;border-radius: 30px" :src="url" :preview-src-list="srcList">
                    </el-image>
                    <div class="role">
                        <el-tag type="danger" @@click="message">身份</el-tag>
                    </div>
                </div>

            </el-header>
            <el-container>
                @* 左侧菜单 *@
                <el-aside width="200px">
                    <el-menu default-active="2"
                             class="el-menu-vertical-demo"
                             @@open="handleOpen"
                             @@close="handleClose"
                             background-color="#494e8f"
                             text-color="#fff"
                             active-text-color="#afb4db"
                             unique-opened>
                        <el-submenu :index="item.menuId +'' "
                                    v-for="item in menuList"
                                    :key="item.menuId">

                            <template slot="title">
                                <i :class="item.icon"></i>
                                <span>{{item.menuName}}</span>
                            </template>

                            <el-menu-item :index="subItem.menuId +'' "
                                          v-for="subItem in item.children"
                                          :key="subItem.menuId">
                                <template slot="title" >
                                    <i :class="subItem.icon"></i>
                                    <span @@click="skip(subItem.path)">{{subItem.menuName}}</span>
                                </template>
                            </el-menu-item>

                        </el-submenu>

                    </el-menu>
                </el-aside>
                @* 中间 *@
                <el-container>
                    <el-main>
                        <iframe id="ifPage" src="" style="width:100%;height:95%; border:0px;"></iframe>
                    </el-main>
                    @* 底部 *@
                    <el-footer>
                        <div id="copyright">
                            ©2021
                            <el-divider direction="vertical"></el-divider>
                            QQ:31159950559
                            <el-divider direction="vertical"></el-divider>
                            E-mail:FuGuangzhi1@outlook.com.
                            <el-divider direction="vertical"></el-divider>
                            <el-link type="success" href="https://github.com/FuGuangzhi1/WebApplication"> GitHUb:FuGuangzhi</el-link>
                            <el-divider direction="vertical"></el-divider>
                            有问题可用以上方式留言
                        </div>
                    </el-footer>

                </el-container>
            </el-container>
        </el-container>

    </div>
    <script src="~/js/Home.js"></script>
</body>

</html>
