<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>个人信息</title>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link href="~/css/index.css" rel="stylesheet" />
    <!-- 引入组件库 -->
    <script src="~/js/index.js"></script>
    <link href="~/css/PersonalInfo.css" rel="stylesheet" />
</head>

<body>
    <h1>个人信息</h1>

    <script src="~/js/PersonalInfo.js"></script>
</body>

</html>
