<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人信息</title>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link href="~/css/index.css" rel="stylesheet" />
    <!-- 引入组件库 -->
    <script src="~/js/index.js"></script>
    <link href="~/css/PersonalInfo.css" rel="stylesheet" />
    <style>
        .my-label {
            background: #E1F3D8;
        }

        .my-content {
            background: #FDE2E2;
        }

        .el-breadcrumb {
            font-size: 18px;
        }

        .head {
            margin-top: 10px;
        }

        .el-card {
            margin-top: 10px;
        }

        .text {
            font-size: 14px;
        }

        .item {
            margin-bottom: 18px;
        }

        #canv {
            width: 100%;
            height: 250px;
        }

        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

            .avatar-uploader .el-upload:hover {
                border-color: #409EFF;
            }

        .avatar-uploader-icon {
            font-size: 12px;
            color: #8c939d;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
        }

        .avatar {
            width: 60px;
            height: 60px;
            display: block;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="head">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item><a href="/Special/Showtime">首页</a></el-breadcrumb-item>
                <el-breadcrumb-item>个人管理</el-breadcrumb-item>
                <el-breadcrumb-item>个人信息</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <el-card class="box-card" shadow="hover">
            <div slot="header" class="clearfix">
                <span>Aubout Me</span>
                <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>
            </div>
            <div class="text item">
                个人介绍
            </div>
            <div class="text item">
                <div style="float: right; margin-top:-30px;">
                    <el-upload class="avatar-uploader"
                               action="/PersonalInfo/SingleFile"
                               :show-file-list="true"
                               :on-success="handleAvatarSuccess"
                               :before-upload="beforeAvatarUpload">
                        <img v-if="imageUrl" :src="imageUrl" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </div>
                姓名：{{userInfo.name}}
                <el-divider direction="vertical"></el-divider>
                性别：{{userInfo.sex}}
                <el-divider direction="vertical"></el-divider>
                生日：{{userInfo.birthday}}
                <el-divider direction="vertical"></el-divider>
                爱好：{{userInfo.hobby}}
            </div>
        </el-card>
        <el-card class="box-card" shadow="hover">
            <el-descriptions title="账号信息" :column="4">
                <el-descriptions-item label="用户名">{{userInfo.account}}</el-descriptions-item>
                <el-descriptions-item label="手机号">{{userInfo.moblie}}</el-descriptions-item>
                <el-descriptions-item label="邮箱">{{userInfo.email}}</el-descriptions-item>
                <el-descriptions-item label="QQ">{{userInfo.qq}}</el-descriptions-item>
            </el-descriptions>
        </el-card>

    </div>
    <canvas id='canv'> </canvas>

    <script type="text/javascript" charset="utf-8" src="~/js/PersonalInfo.js"></script>
</body>

</html>
