<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Studyknowledge</title>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link href="~/css/index.css" rel="stylesheet" />
    <!-- 引入组件库 -->
    <script src="~/js/index.js"></script>
    <script src="~/js/qs.js"></script>
    <link href="~/css/Studyknowledge.css" rel="stylesheet" />

</head>
<body>
    <div id="app">
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item><a href="/Special/Showtime">首页</a></el-breadcrumb-item>
            <el-breadcrumb-item>个人管理</el-breadcrumb-item>
            <el-breadcrumb-item>学习知识</el-breadcrumb-item>
        </el-breadcrumb>
        <br />
        <div id="from">
            <!--表头模糊查询-->
            <el-form :inline="true" class="demo-form-inline">
                <el-form-item label="知识名称:">
                    <el-input placeholder="请输入需要查询知识....." v-model="SearchStudyknowledgeName"></el-input>
                </el-form-item>
                <el-form-item label="知识类别:">
                    <el-select v-model="StudyTypeId" clearable placeholder="请选择" style="width:240px">
                        <el-option v-for="item in StudyType" :key="item.studyTypeId" :label="item.studyTypeName"
                                   :value="item.studyTypeId">
                        </el-option>
                    </el-select>
                </el-form-item>
                <div id="buttonCss">
                    <el-form-item>
                        <el-button type="success" size="small" v-on:click="Search"> Search</el-button>
                        <el-button type="danger" size="small" v-on:click="dialogFormVisible = true"> Add</el-button>
                        <el-button type="warning" size="small" @*v-on:click="Search"*@> MassDeletion</el-button>
                        <el-button type="info" size="small" @*v-on:click="Search"*@> Leading-in</el-button>
                        <el-button type="primary" size="small" @*v-on:click="Search"*@> Derive</el-button>
                    </el-form-item>
                </div>
            </el-form>
        </div>
        <!--table表格-->
        <template>
            <el-table :data="tableData" style="width:100%" height="420" max-height="500" v-loading="loadingTable">
                <el-table-column type="selection" width="80" align='center'>
                </el-table-column>
                <el-table-column property="studyknowledgeName" label="知识名称" width="180" align='center'>
                </el-table-column>
                <el-table-column property="studyknowledgeNameType" label="知识类型" width="180" align='center'>
                </el-table-column>
                <el-table-column property="studyknowledgeContent" label="知识内容" width="180">
                </el-table-column>
                <el-table-column property="createDateTime" label="创建时间" width="180" :formatter="dateFormat"
                                 align='center'>
                </el-table-column>
                <input id="Hidden1" v-model="form.studyknowledgeId" type="hidden" />
                <el-table-column label="操作" width="180" fixed="right">
                    <!--自定义列-->
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" v-on:click="Edit(scope.row)" class="el-icon-edit" circle>
                        </el-button> &nbsp;
                        <el-button type="danger" size="mini" v-on:click="Delete(scope.row)" class="el-icon-delete"
                                   circle> </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div id="pagination">
                <!--分页控件-->
                <el-pagination v-on:size-change="handleSizeChange" v-on:current-change="handleCurrentChange"
                               :page-sizes="[2,3,5,10]" :page-size=5 layout="total,sizes,prev,pager,next,jumper" :total="total">
                </el-pagination>
            </div>
        </template>

        <!---模态框-->
        <el-dialog title="提示" :visible.sync="dialogFormVisible" width="500px" :before-close=Close >
            <el-form :inline="false" class="demo-form-inline" :model="form" :rules="rules" ref="form" v-loading="loadingForm">
                <el-form-item prop="studyknowledgeName">
                    <el-col :span="8">
                        &nbsp; &nbsp; 知识名称:
                    </el-col>
                    <el-col :span="12">
                        <el-input placeholder="请输入知识名称....." v-model="form.studyknowledgeName" style="width:240px">
                        </el-input>
                    </el-col>
                </el-form-item>
                <el-form-item prop="studyknowledgeContent">
                    <el-col :span="8">
                        &nbsp; &nbsp; 知识内容:
                    </el-col>
                    <el-col :span="12">
                        <el-input type="textarea" placeholder="请输入知识内容....." v-model="form.studyknowledgeContent"
                                  style="width:240px"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item prop="studyTypeId">
                    <el-col :span="8">
                        &nbsp; &nbsp; 知识类型:
                    </el-col>
                    <el-col :span="12">
                        <el-select v-model="form.studyTypeId" placeholder="求Star（请选择)" style="width:240px">
                            <el-option v-for="item in StudyType" :key="item.studyTypeId" :label="item.studyTypeName"
                                       :value="item.studyTypeId">
                            </el-option>
                        </el-select>
                    </el-col>
                </el-form-item>
                <input id="Hidden1" v-model="form.studyknowledgeId" type="hidden" />
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button v-on:click="Close">取 消</el-button>
                <el-button type="primary" v-on:click="Confirm('form')">确 定</el-button>
            </span>
        </el-dialog>
    </div>
    <script src="~/js/Studyknowledge.js"></script>
</body>

</html>
