
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>日志</title>
    <script src="~/js/vue.js"></script>
    <script src="~/js/index.js"></script>
    <link href="~/css/index.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <el-calendar>
            <!-- 这里使用的是 2.5 slot 语法，对于新项目请使用 2.6 slot 语法-->
            <template slot="dateCell"
                      slot-scope="{date, data}">
                <p :class="data.isSelected ? 'is-selected' : ''">
                    {{ data.day.split('-').slice(1).join('-') }} {{ data.isSelected ? '✔️' : ''}}
                </p>
            </template>
        </el-calendar>
    </div>
    <script>
        const VM = new Vue({
            el: '#app',
        })
    </script>
    <style>
        .is-selected {
            color: #1989FA;
        }
        .el-calendar {
            margin:0px;
            padding:0px;
        }
    </style>
</body>
</html>
