* {
    margin: 0px;
    padding: 0px;
}

#pagination {
    float:right;
}

#from {
    padding: 10px;
    margin-left: 6px;
}

#buttonCss {
    float: right;
}

.el-table {
    text-align: center;
}
