<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateUser</title>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link href="~/css/index.css" rel="stylesheet" />
    <!-- 引入组件库 -->
    <script src="~/js/index.js"></script>
    <link href="~/css/CreateAccount.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <div class="main">
            <h1>Account Register</h1>
            <el-form ref="form" :model="form" :rules="rules" label-width="100px">

                <el-form-item label="Name:" prop="name">
                    <el-input v-model="form.name" prefix-icon="el-icon-user" placeholder="请输入姓名" clearable></el-input>
                </el-form-item>

                <el-form-item prop="moblie" label="Phone:">
                    <el-input v-model="form.moblie" prefix-icon="el-icon-phone" placeholder="请输入电话号码" clearable>  </el-input>
                </el-form-item>

                <el-form-item prop="sex" label="Sex:">
                    <div class="radioWhdth">
                        <el-radio v-model="form.sex" label="1">男</el-radio>
                        <el-radio v-model="form.sex" label="0">女</el-radio>
                    </div>
                </el-form-item>

                <el-form-item prop="hobby" label="Hobby:">
                    <el-input v-model="form.hobby" prefix-icon="el-icon-basketball" placeholder="请输入兴趣爱好" clearable></el-input>

                </el-form-item>

                <el-form-item prop="email" label="Email:">
                    <el-input v-model="form.email" prefix-icon="el-icon-s-promotion" placeholder="请输入邮箱" clearable></el-input>
                </el-form-item>

                <el-form-item prop="qq" label="QQ:">
                    <el-input v-model="form.qq" prefix-icon="el-icon-bell" placeholder="请输入QQ" clearable></el-input>
                </el-form-item>

                <el-form-item prop="birthday" label="Birthday:">
                    <el-input type="date" v-model="form.birthday" prefix-icon="el-icon-present" placeholder="请选择您的生日"></el-input>
                </el-form-item>

                <el-form-item prop="password" label="Password:">
                    <el-input type="password" v-model="form.password" prefix-icon="el-icon-lock" placeholder="请输入密码" show-password clearable></el-input>
                </el-form-item>

                <el-form-item prop="password1" label="PrdConfirm:">
                    <el-input v-model="form.password1" type="password" prefix-icon="el-icon-lock" placeholder="请确认您的密码" show-password clearable></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @@click="onSubmit('form')">Create</el-button>
                    <el-button @@click="resetForm('form')">Reset</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>

    <script src="~/js/CreateAccount.js"></script>
</body>

</html>